
/* Panel Formulario */
.panel-formulario {
    flex: 1.4;
    padding: 50px 60px;
    background-color: var(--blanco);
}

.registro-header {
    text-align: center;
    margin-bottom: 35px;
}

.logo-stockmind {
    height: 50px;
    margin-bottom: 15px;
}

.registro-header h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--texto-principal);
    margin: 0;
}

/* Inputs y Filas */
.fila-input {
    display: flex;
    gap: 15px;
    margin-bottom: 18px; /* Margen constante en filas */
}

.grupo-input {
    flex: 1;
    margin-bottom: 18px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #F3F4F6;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 0 15px;
    transition: all 0.2s ease;
    min-width: 0; /* Permite que el contenedor se encoja para elipsis */
}

.grupo-input:focus-within {
    background-color: var(--blanco);
    border-color: var(--verde-sena);
    box-shadow: 0 0 0 4px rgba(73, 169, 25, 0.1);
}

.grupo-input i {
    color: var(--texto-secundario);
    font-size: 1.1rem;
    margin-right: 12px;
    flex-shrink: 0; /* Evita que el icono se aplaste */
}

.grupo-input input, 
.select-input {
    width: 100%;
    padding: 14px 0;
    border: none;
    background: transparent;
    outline: none;
    font-family: var(--fuente);
    color: var(--texto-principal);
    font-size: 0.95rem;
}

/* Estilos específicos para el Select */
.select-input {
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 10px;
}

/* Botón Registrarse */
.btn-registrar {
    width: 100%;
    padding: 16px;
    background-color: var(--verde-sena);
    color: var(--blanco);
    border: none;
    border-radius: 12px;
    font-family: var(--fuente);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.btn-registrar:hover {
    background-color: #3a8614;
    box-shadow: 0 10px 15px -3px rgba(73, 169, 25, 0.3);
    transform: translateY(-1px);
}
